body {
    padding-top: 5rem;
}
.card {

}

#top {
    width: 200px;
    background-color: #e7b264;
    display: inline-block;
    margin: 10px;
}

#all-top {
    background-color: #e7b264;
    color: white;;
    text-align: center;
}

div#all-top h5 {
    font-size: 1.8em;
    margin: 5px;
}

div#all-top p {
    margin: 5px;
}

div.card-body p {
    color: grey;
}


