{% extends "base.html" %}

{% block main %}
    <div class="card">
        <div id="all-top">
            <div id="top">
                <img class="card-img-top rounded-circle" src="{{ url_for('static', filename='images/black-girl.jpg')}}" alt="Card image cap">
            </div>
            <h5 class="card-title">Gabrielle Higgins</h5>
            <p>@gabzilove</p>
            <p>Greater Portmore, St. Catherine</p>
            <p>{{ date }}</p>
        </div>
        
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">I am a third year university student at the University of the West Indies.
            I love to learn languages and am currently learning Korean and Mandarin Chinese. I did Spanish 
            and French in high school but I have forgotten most of the vocabulary.
            I should really go back to that some time.</p>
            <div class="row">
                <div class="col">192</div>
                <div class="col">1</div>
                <div class="col">1 M</div>
                <div class="w-100"></div>
                <div class="col">Posts</div>
                <div class="col">Following</div>
                <div class="col">Followers</div>
              </div>
          <a href="#" class="btn btn-primary">Follow</a>
        </div>
      </div></div>>
{% endblock %}